<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
  <display-name>tagria-example-mentawai</display-name>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
    <param-value>pt_BR</param-value>
  </context-param>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>org.mentawai.core.Controller</servlet-class>
    <init-param>
      <param-name>applicationManager</param-name>
      <param-value>app.AppManager</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>*.mtw</url-pattern>
  </servlet-mapping>
</web-app>